#URL mapping for REST API Demo
#Note: "NC" means case insensitive
RewriteEngine on

RewriteRule ^BowlingTournament/teams$ api/bowlingTeamService.php [NC]
RewriteRule ^BowlingTournament/players$ api/bowlingPlayerService.php [NC]
RewriteRule ^BowlingTournament/players/([0-9]+)$ api/bowlingPlayerService.php?teamID=$1 [NC]