#URL mapping for REST API Demo
#Note: "NC" means case insensitive
RewriteEngine on


RewriteRule ^BowlingTeamService/team$ api/bowlingTeamService.php [NC]
RewriteRule ^BowlingTeamService/team/([0-9]+)$ api/bowlingTeamService.php?teamID=$1 [NC]

RewriteRule ^BowlingPlayerService/players$ api/bowlingPlayerService.php [NC]
RewriteRule ^BowlingPlayerService/players/([0-9]+)$ api/bowlingPlayerService.php?teamID=$1 [NC]

RewriteRule ^BowlingPlayerService/delPlayer/([0-9]+)$ api/bowlingPlayerService.php?playerID=$1 [NC]
RewriteRule ^BowlingPlayerService/delTeam/([0-9]+)$ api/bowlingTeamService.php?teamID=$1 [NC]

RewriteRule ^BowlingMatchService/matches$ api/bowlingMatchService.php [NC]
RewriteRule ^BowlingMatchService/matches/([0-9]+)$ api/bowlingMatchService.php?matchID=$1 [NC]

RewriteRule ^BowlingGameService/games$ api/bowlingGameService.php [NC]
RewriteRule ^BowlingGameService/games/([0-9]+)$ api/bowlingGameService.php?gameID=$1 [NC]


#RewriteRule ^BowlingTournament/teams$ api/bowlingTeamService.php [NC]
#RewriteRule ^BowlingTournament/players$ api/bowlingPlayerService.php [NC]
#RewriteRule ^BowlingTournament/players/([0-9]+)$ api/bowlingPlayerService.php?teamID=$1 [NC]

